[submodule "MCU/ST/STM32U5"]
	path = MCU/ST/STM32U5
	url = https://github.com/STMicroelectronics/stm32u5xx-hal-driver.git
[submodule "MCU/wch"]
	path = MCU/wch
	url = git@github.com:ZeroZap/wch.git
[submodule "MCU/ST/STM32F1"]
	path = MCU/ST/STM32F1
	url = https://github.com/STMicroelectronics/STM32CubeF1.git
[submodule "MCU/ST/STM32F4"]
	path = MCU/ST/STM32F4
	url = https://github.com/STMicroelectronics/STM32CubeF4.git
[submodule "components/third_party/usb/tinyusb"]
	path = components/third_party/usb/tinyusb
	url = https://github.com/hathach/tinyusb.git
[submodule "components/third_party/usb/nimble"]
	path = components/third_party/usb/nimble
	url = https://github.com/apache/mynewt-nimble.git
[submodule "components/third_party/flashdb"]
	path = components/third_party/flashdb
	url = https://gitee.com/Armink/FlashDB.git
[submodule "MCU/HC32"]
	path = MCU/HC32
	url = git@github.com:ZeroZap/xhsc.git
