*.pyc
*.map
*.dblite
*.elf
*.bin
*.hex
*.axf
*.exe
*.pdb
*.idb
*.ilk
*.old

documentation/html
*~
*.o
*.obj
*.bak
*.dep
*.lib
*.i
*.d
*.dbgdt
*.crun
*.bat
*.ps1
*.scl
*.dnx
*.regroups
*.wsdt
tools/kconfig-frontends/kconfig-mconf
packages
cconfig.h
GPUCache
*.vs/
*bin/
*obj/
#cscope files
cscope.*
ncscope.*

#ctag files
ril/build/Debug
ril/build/list
ril/build/output
ril/build/settings

demo/project/Debug
demo/project/list
demo/project/output
demo/project/settings

