# Kconfig for XY sensor Component

config XY_SENSOR_ENABLE
    bool "sensor component support"
    default n
    help
      Enable support for the sensor component.
      This component provides sensor drivers.

if XY_SENSOR_ENABLE

config XY_SENSOR_TEST
    bool "Enable sensor component tests"
    default n
    depends on XY_SENSOR_ENABLE
    help
      Enable unit tests for the sensor component.

config XY_SENSOR_EXAMPLE
    bool "Enable sensor component examples"
    default n
    depends on XY_SENSOR_ENABLE
    help
      Enable example applications for the sensor component.

endif # XY_SENSOR_ENABLE
