# Kconfig for XY xy_state_machine Component

config XY_XY_STATE_MACHINE_ENABLE
    bool "xy_state_machine component support"
    default n
    help
      Enable support for the xy_state_machine component.
      This component provides state machine framework.

if XY_XY_STATE_MACHINE_ENABLE

config XY_XY_STATE_MACHINE_TEST
    bool "Enable xy_state_machine component tests"
    default n
    depends on XY_XY_STATE_MACHINE_ENABLE
    help
      Enable unit tests for the xy_state_machine component.

config XY_XY_STATE_MACHINE_EXAMPLE
    bool "Enable xy_state_machine component examples"
    default n
    depends on XY_XY_STATE_MACHINE_ENABLE
    help
      Enable example applications for the xy_state_machine component.

endif # XY_XY_STATE_MACHINE_ENABLE
